* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

nav {
    display: flex;
    width: 100%;
    background-color: rgb(29, 34, 41);
    /* position: relative; */
    justify-content: space-between;
    text-align: center;
    padding: 15px 30px;
}

nav .icon {
    font-size: 35px;
    font-weight: 800px;
    color: crimson;
    cursor: pointer;
}

nav ol {
    display: flex;
    list-style: none;
    margin: auto 0;
}

nav ol li {
    margin: 0 2px;

}

nav ol li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 5px 10px;
}

nav ol li:hover a {
    background-color: transparent;
    color: green;
}

nav .search-box {
    display: flex;
    margin: auto 0;
    height: 35px;
}

nav .search-box input {
    border: none;
    outline: none;
    background-color: white;
    border-radius: 5px;
    margin-right: 20px;
    height: 100%;
    padding: 0 10px;
    font-size: 20px;
    width: 250px;
}

nav .search-btn {
    height: 100%;
    width: 80px;
    color: green;
    background-color: transparent;
    border-radius: 5px;
}

nav .search-btn:hover {
    color: white;
    background-color: green;
}

nav .disabled {
    color: grey;
}

.dropdown1 {
    position: relative;
    display: inline-block;

}

.dropdown {
    position: absolute;
    display: none;
    list-style: none;
}

.dropdown1:hover .dropdown {
    display: block;
    background-color: rgb(66, 71, 78);
    width: 150px;
    border-radius: 10px;
    color: rgb(238, 9, 135);
}